@using PrehistoryWebsite.Models
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/themes/htmlprehistory/images/favicon.ico")" />

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/themes/startbootstrap-sb-admin-2-1.0.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Content/themes/startbootstrap-sb-admin-2-1.0.1/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="~/Content/themes/startbootstrap-sb-admin-2-1.0.1/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Content/themes/startbootstrap-sb-admin-2-1.0.1/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/themes/startbootstrap-sb-admin-2-1.0.1/css/ExtraAdmin.css" rel="stylesheet" />

    @RenderSection("CSS", required:false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Script", required: false)
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", null)"><img src='@Url.Content("~/Content/themes/htmlprehistory/images/logo.png")' height="50" alt="logo"/></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    @Html.Action("RecentMessages", "Message", null)
                </li>
                <!-- /.dropdown -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                                      
                            <a href='@Url.Action("Profile", "Account", new {nameUser=Context.User.Identity.Name})'><i class='fa fa-user fa-fw'></i> Perfil</a>

                        </li>
                        <li class="divider"></li>
                        <li><a href='@Url.Action("LogOut", "Account")'><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li class="">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Secciones<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                                <li>
                                    <a href='@Url.Action("Index", "SlideShow")'> Slider</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Index", "Footer")'> Footer</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Index", "Advertisement")'> Anuncios</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Menu<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                                <li>
                                    <a href='@Url.Action("Index", "Menu")'> Menu</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Index", "GeneralTemplate")'> Páginas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href='@Url.Action("Users", "Account")'><i class="fa fa-fw"></i> Miembros</a>
                        </li>
                        @if (HttpContext.Current.User.IsInRole(RolesUsersSystem.roleAdmin) || HttpContext.Current.User.IsInRole(RolesUsersSystem.roleSuperAdmin))
                        {
                            <li>
                                <a href='@Url.Action("Index", "RoleAdmin")'><i class="fa fa-fw"></i> Roles</a>
                            </li>
                        }

                        <li>
                            <a href='@Url.Action("Index", "Tag")'><i class="fa fa-fw"></i> Tags</a>
                        </li>
                        <li>
                            <a href='@Url.Action("Index", "Category")'><i class="fa fa-fw"></i> Categorías</a>
                        </li>
                        <li>
                            <a href='@Url.Action("Index", "PostAdmin")'><i class="fa fa-fw"></i> Posts</a>
                        </li>
                        <li>
                            <a href='@Url.Action("Index", "FileManager")'><i class="fa fa-fw"></i> Archivos</a>
                        </li>
                        <li>
                            <a href='@Url.Action("Index", "Message")'><i class="fa fa-envelope fa-fw"></i> Mensajes</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">

            @RenderBody()


            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

        <!-- jQuery -->
       
        <script src=@Url.Content("~/Content/themes/startbootstrap-sb-admin-2-1.0.1/js/jquery.js")></script>
        <!-- Bootstrap Core JavaScript -->
        <script  src=@Url.Content("~/Content/themes/startbootstrap-sb-admin-2-1.0.1/js/bootstrap.min.js")></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script  src=@Url.Content("~/Content/themes/startbootstrap-sb-admin-2-1.0.1/js/plugins/metisMenu/metisMenu.min.js")></script>
        <!-- Custom Theme JavaScript -->

        <script src=@Url.Content("~/Content/themes/startbootstrap-sb-admin-2-1.0.1/js/sb-admin-2.js")></script>

    @RenderSection("ScriptEnd", required: false)
</body>

</html>
