@model PrehistoryWebsite.Models.Admin.FooterModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
}

@section Script{
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
}

@Html.SetTitleAdminSection("Footer")

@{
    string succeededMessage = ViewBag.Succeeded;
    @Html.ShowMessages(ViewData.ModelState.IsValid, succeededMessage)
}

<div class="row">

    <div class="panel-body">
    </div>

</div>

@using (@Html.BeginForm("Save", "Footer"))
{
    <div class="row">

        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.EditorFor(x => x.title1)
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="editor-field">
                        @Html.Action("ShowFoldersFilesAndPath", "FileManager", new { idImgShow = 1 })
                        @Html.TextAreaFor(x => x.content1)
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /..col-xs-4 -->
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.EditorFor(x => x.title2)
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="editor-field">
                        @Html.Action("ShowFoldersFilesAndPath", "FileManager", new { idImgShow = 2 })
                        @Html.TextAreaFor(x => x.content2)
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /..col-xs-4 -->
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.EditorFor(x => x.title3)
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    Formulario
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /..col-xs-4 -->
    </div>
    <input class="btn btn-primary" type="submit" value="Guardar" />
    @Html.ActionLink("Cancel", "Index", "Footer", null, new { @class = "btn btn-primary" })
}

@section ScriptEnd{
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            theme: "modern",
            height: 400,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                 "save table contextmenu directionality emoticons template paste textcolor"
            ],
            content_css: "css/content.css",
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor emoticons",
            style_formats: [
                 { title: 'Bold text', inline: 'b' },
                 { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                 { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                 { title: 'Example 1', inline: 'span', classes: 'example1' },
                 { title: 'Example 2', inline: 'span', classes: 'example2' },
                 { title: 'Table styles' },
                 { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
            ]

        });





    </script>
}
